html {
  @apply text-base;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-secondary font-bold leading-tight text-dark;
}

h1,
.h1 {
  @apply text-h1-sm md:text-h1;
}

h2,
.h2 {
  @apply text-h2-sm md:text-h2;
}

h3,
.h3 {
  @apply text-h3-sm md:text-h3;
}

h4,
.h4 {
  @apply text-h4;
}

h5,
.h5 {
  @apply text-h5;
}

h6,
.h6 {
  @apply text-h6;
}

.active-link {
  background-color: #fb7299;

  span {
    color: white !important;
    font-weight: 500;
  }

  svg {
    color: white !important;
  }
}

.active-link:hover {
  background-color: #e65b8a;
}


// .yt-lite {
//   position: relative;
//   margin: 2.5rem 0;

//   border: 1px solid #dfe3e8;
//   border-radius: 16px;
//   overflow: hidden;

//   background: #fff;

//   box-shadow:
//     0 0 0 4px rgba(241, 245, 249, 0.8),
//     0 2px 4px rgba(0, 0, 0, 0.04),
//     0 10px 25px rgba(0, 0, 0, 0.08);

//   cursor: pointer;

//   transition:
//     transform 200ms ease,
//     box-shadow 200ms ease,
//     border-color 200ms ease;
// }

// .yt-lite:hover {
//   transform: translateY(-3px);

//   border-color: #f4729b;

//   box-shadow:
//     0 0 0 4px rgba(244, 114, 155, 0.08),
//     0 4px 8px rgba(0, 0, 0, 0.06),
//     0 16px 35px rgba(0, 0, 0, 0.12);
// }